# Token secreto do Bot (obtido na aba 'Bot' do Portal de Desenvolvedores)
DISCORD_TOKEN=seu_token_aqui

# ID da Aplicação / Client ID (obtido na aba 'OAuth2' ou principal)
CLIENT_ID=seu_client_id_aqui

# ID do Servidor do Discord (Guild ID) para registrar comandos locais rapidamente
GUILD_ID=seu_guild_id_aqui

# ID do canal onde os registros de entregas serão postados
LOG_CHANNEL_ID=seu_canal_de_logs_id_aqui

# Nome do cargo de funcionário a ser atribuído na contratação
EMPLOYEE_ROLE_NAME=funcionário
